.header{
    margin-bottom: 90px;
}
.navcolor{
    background-color: rgb(47,34,64);
}
/* .navik{
    color: #fff;
    text-decoration: none !important;
}
.navik:hover{
    text-decoration: none !important;
    text-decoration-color: bisque;
} */